
:root{
    --let0:1vh;
    --let1:1.4vh;
    --let1-6:1.6vh;
    --let2:2vh;
    --cW:#F0E6D2;
    --cd:#C89B3C;
    --cb:black;
    --heightHeader:8vh;
    --margin:62px;
}
.phone{
    display: none !important;
}
/*firstComponent (start)*/
.firstComponentContainer{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
    background-color: var(--cb);
    height: var(--heightHeader);
    border-bottom:  0.5px solid #3C3C41;
}
.logoMarvel{
    background-image: url("../src/assets/img/Marvel_Studios_Logo_normal_2016.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 23vh;
    height: 3vh;
    margin-left:var(--margin);
    margin-right: auto; 
}
.firstComponentContainerLeft{
    display: flex;
    align-items: center;
}
.firstComponentContainerLeft ul{
    display: flex;
    list-style: none;
    height: var(--heightHeader);
}
.firstComponentContainerLeft ul li{
    margin-left: 15px;
    font-size: var(--let1);
    width: 10vh;
    height: 8vh;
    color: var(--cW);
    padding-top: 4vh;
    cursor: pointer;
}
.selected {
    color: var(--cd) !important;
    background: 
      url("../src/assets/img/Vector.png") no-repeat 50% 9.3px,
      linear-gradient(180deg, #231F20 0%, rgba(34, 34, 34, 0) 100%);
}

.firstComponentContainerRight{
    padding-right:var(--margin);
    display: flex;
    align-items: center;
}
.elementsContainerRight{
    margin-left: 40px;
    font-size: var(--let1);
    color: var(--cW);
    width: 2vh;
    height: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.campaign{
    background-image: url("../src/assets/img/Notificacion0.svg");
    border-radius: 60px;    
}
.campaign:hover {
    background-image: url("../src/assets/img/Notificación%2020.svg");
  }
.mesh{
    background-image: url("../src/assets/img/Ajustes0.svg");
    border-radius: 60px;
}
.mesh:hover{
    background-image: url("../src/assets/img/Ajustes\ 20.svg");
    border-radius: 60px;
}
/*firstComponent (End)*/
.canva{
    background-image: url("../src/assets/img/Fondo.png");
    /*background-image: url("https://i.pinimg.com/originals/a6/ec/cd/a6eccdaae9286b302379f12507d090d4.jpg");
    background-image: url("https://1.bp.blogspot.com/_mYmXdI6VpZk/TMnGzMT9SAI/AAAAAAAAABc/zgWaQlwZcso/s1600/Civil_War_by_PortalComic.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 92vh;
}
/*secondComponent (start)*/
.secondComponentContainer{
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}
h2{
    margin: 0;
}
.ContainerProgress{
    width: 72vh;
    height: 32vh;
    background: #0E0F0F;
    border: 0.7px solid #42331A;
    border-radius: 5px;
    margin-left: var(--margin);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContainerProgress p{
    color: var(--cd);
    font-size: var(--let0);

}
.tittleProgress{
    color: var(--cW);
    width: 80%;
    font-size: var(--let2);
    margin-bottom: 15px;
}
.ContainerImage{
    width: 53vh;
    height: 32vh;
    background: black;
    border: 0.7px solid #42331A;
    border-radius: 5px;
      

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContainerImage img{
    width: 99%;
    height: 31.5vh;
    margin: auto;
    border-radius: 5px;
}
.ContainerImage video{
    width: 99%;
    height: 32vh;
    margin: auto;
    border-radius: 16px;
}
.ContainerImage p{
font-size: var(--let2);
}

.customProgress {
    width: 80%;
    height: 2.8vh;
    border: 0.45vh solid;
    background: #1E2328;
    box-shadow: 0px 0px 4px #FFA942, 0px 0px 4px rgba(255, 169, 66, 0.25), 0px 0px 7px rgba(255, 169, 66, 0.25);
    transform: skew(-10deg);
    margin-bottom: 15px;

  }
  
  .customProgress::-webkit-progress-bar {
    background-color:var(--cW);
    transition: 5s;
  }
  .customProgress::-webkit-progress-value {
    background: linear-gradient(180deg, #31969D 0%, #65E6F4 31.77%, #24AEBD 66.15%, #1299A8 98.96%);
    border: 1px solid #111111;
  }
/*secondComponent (end)*/

/*ThirdComponent (start)*/
.tarjetPersonaje{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    position:absolute;
    z-Index:10;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dataAvatar-tarjet{
    width: 80vh;
    height: 80vh;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("./assets/img/Fondo\ niveles.png");
    background-size: 100% 100%;
    border: 0.5px solid #3C3C41;
    margin: auto;
    margin-top: 5%;
    border-radius: 16px;
    box-shadow: 0px 0px 4px #FFA942, 0px 0px 4px rgba(255, 169, 66, 0.25), 0px 0px 7px rgba(255, 169, 66, 0.25);

}
.dataAvatar-tarjet img{
    border-radius: 100%;
    width:32vh;
    height:32vh;
    margin-top: 5%;
    margin-bottom: 5%;
}
.dataAvatar-tarjet h2{
font-size: var(--let2);
color: var(--cd);
}
.dataAvatar-tarjet p{
    color: var(--cW);
    font-size: var(--let1-6);
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 15px;
    }
    .dataAvatar-tarjet a{
        color: var(--cd);
        font-size: var(--let1-6);
        width: 90%;
        margin: auto;
        margin-top: 15px;
        }
.appear{
    display: none;
}
.close{
    width: 35vh;
    height: 5vh;
    color: var(--cd);    
        background: #1E2328;
    box-shadow: 0px 0px 4px #FFA942, 0px 0px 4px rgba(255, 169, 66, 0.25), 0px 0px 7px rgba(255, 169, 66, 0.25);
    transform: skew(-10deg);

    margin-top: -15%;
}
.mySwiper{
    width: 95%;
    height:55.5vh;
    color:var(--cW);
}
.tarjetSwiper{
    margin-top: 20px;
    height:3px;
}
.dataAvatar{
    width: 100%;
    padding-top: 12%;
    padding-bottom: 12%;
    background-image: url("../src/assets/img/Fondo\ niveles.png");
    background-size: 100% 100%;
    border: 0.5px solid #3C3C41;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}
.nameAvatar{
    width: 80%;
    height: 3vh;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    margin-bottom: 16px;
    background-image: url("../src/assets/img/formas.png");
    background-position: no-repeat;
    background-size: 100% 100%;
}
.nameAvatar h3{
    font-size: var(--let1);
    width: 60%;
    margin: auto;
}
.frame{
    margin: auto;
    width:20vh;
    height:22vh;
    background-image:url("../src/assets/img/Círculonivel1.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    transition: 5s;
}
.frame:hover{
    transform: rotate(360deg);
}
.avatarImage{
    position: relative;
} 
.avatarImage:hover .frame{
    transform: rotate(360deg);
}
.avatarImage img {
  margin: auto;
  margin-top: 3.5vh;
  margin-bottom: 3vh;
  border-radius: 100%;
  width:15vh;
  height:15vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.infoAvatar{
    width: 21vh;
    height: 5vh;
    border: 0.5px solid var(--cW);
    margin: auto;
    margin-top: 28px;
    border-radius: 0.5vh;
    color: var(--cW); 
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1E2328;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.infoAvatar p{
    margin-top: 5px;
    margin-right: 15px;
    font-size: var(--let1-6);
}
.swiper-pagination{
    font-size: 25px;
    color:#C89B3C;
}
/*ThirdComponent (end)*/

/*Component3D (start)*/
.description-project{
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 5%;
    color: #F0E6D2;
    text-align: left;
    padding: 2vh;
    width: 23%;
    background: rgba(0, 0, 0, 0.527);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px outset rgba(255, 255, 255, 0.3);
}
.description-project h2{
    margin-top: 1.3vh;
    font-size: 2.5vh;
}
.description-project h3{
    margin-top: 1.3vh;
    width: 100%;
    font-size: 2.3vh;
}
.description-project h1 {
    font-size: 3vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.8vh;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px rgba(245, 222, 179, 0.548) , 0 0 70px rgba(245, 222, 179, 0.384) , 0 0 80px rgba(245, 222, 179, 0.575) , 0 0 100px rgba(245, 222, 179, 0.534);
    text-align: left;
  }
.visor-top{
    position: absolute;
    background: black;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.visor-top img{
    height: 20vh;
}
.canva-estation-nave{
    width: 100%;
    height: 92vh;
    margin: auto;
}
.visor-bottom{
    position: absolute;
    top:80%;
    right: 43%;
    background: black;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    border-radius: 100%;
    border: outset;
    cursor: pointer;
    transition: 1s;
    border-color: white;
}
.visor-bottom:hover{
    border-color: white;
    box-shadow: 0 0 10px  white, 0 0 40px  white, 0 0 80px  white;
}
.photo{
    border: outset;
    border-color: white;
    width: 25vh;
    height: 25vh;
    background-image: url(../src/assets/img/mi_imagen.jpg);
    background-size: 100%;
    border-radius: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mark-42{
    z-index: 11;
    position: absolute;
    top: 15%;
    left: 35%;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60vh;
    background-image: url("https://i.gifer.com/NUxj.gif");
    background-size: 100% 100%;
    border: 5px outset rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
}
/*Component3D (start)*/

/*technical-support (start)
.technical-support{
    z-index: 10;
    width: 50%;
    height: 50vh;
    background-color: red;
}*/
/*technical-support (end)*/

@media (max-width: 480px) {

    /*firstComponent (start)*/
    .logoMarvel{
        margin-left: 1vh;
        width: 10vh;
        height: 10vh;
        background-image:url("https://cdn.iconscout.com/icon/free/png-256/free-marvel-282124.png?f=webp");
    }
    .firstComponentContainerLeft ul{
        padding-left: 3vh;
     }
     .elementsContainerRight{
         margin-left: 1.3vh;
     }
     .firstComponentContainerRight{
        padding-right:0.8vh;
    }
    /*firstComponent (end)*/

    /*Component3D (start)*/
    .mark-42{
        width: 100%;
        height: 80vh;
        top:1%;
        left:0;
        background-image: url("https://i.pinimg.com/564x/0f/75/b5/0f75b5b3772f0de61757135d3803923f.jpg");
    }
       .description-project{
        width: 90%;
        background: rgba(0, 0, 0, 0);
        border-radius: 16px;
        border: 1px outset rgba(255, 255, 255, 0.3);
    }
    .visor-bottom{
        top:85%;
        right: 28%;
        height: 15vh;
    }
    /*Component3D (end)*/

    /*secondComponent (start)*/
    .secondComponentContainer{
        display: block;
    }
    .ContainerProgress{
        width: 100%;
        margin-left: 0;
    }
    .ContainerImage{
        width: 100%;
    }
    /*secondComponent (end)*/
    .mySwiper{
        width: 80%;
        height:55.5vh;
    }
.desk{
    display: none !important;
}
.phone{
    display: block !important;
    width: 100%;
    background: #1E2328;
}

.tarjetPersonaje{
    width: 100%;
    position: fixed;
}
.dataAvatar-tarjet{
    width:90%;
    height: 80vh;
   }
.dataAvatar-tarjet img{
    width:18vh;
    height:18vh;
}
.dataAvatar-tarjet a{
    color: var(--cd);
    font-size: var(--let1-6);
    width: 75%; 
    margin: auto;
    }
    /*ThirdComponent (End)*/
  }